---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<BaseLayout title="Personal Card Portfolio Astro" description="Portfolio of Mohammed Salama, a passionate Software Engineer specializing in web development, database management, and innovative tech solutions. Explore my projects!">
	<Card
	  name="Mohammed"
	  position="Software Engineer"
	  aboutMe={Hello! I'm Mohammed, a skilled Software Engineer with a strong passion for building intuitive and high-performance web applications. With experience in both front-end and back-end development, I specialize in technologies like HTML, CSS, JavaScript, React, Node.js, and MySQL. I'm dedicated to creating user-friendly, responsive designs and optimizing performance for seamless digital experiences.`}
	  linkedin="https://www.linkedin.com/in/mohammed-salama-57a110211/"
	  github="https://github.com/mhs170"
	  cvLink="https://www.dropbox.com/scl/fi/qvb840q89gxmojuhvmi9i/my-resume-2024-07-02-11_42_14-3.pdf?rlkey=h9fpultv4omt05eqabfjz4otz&st=yus4x3nf&dl=0"
	  profileImage="/images/profile.webp"
	/>
</BaseLayout>
